
/* General Application classes */
.App.bp3-dark {
  background-color: #283042;
}

.App {
  min-height: 100vh;
}

.App .bp3-navbar-group .bp3-switch {
  margin-bottom: 0;
}

/* The classes for the Navigation Panel */
.navigation-button {
  margin: 0px 2px 0px 2px;
}

.bp3-dark .bp3-navbar.pwd-development {
  background-color: #3a0b14;
}

.bp3-navbar.pwd-development {
  background-color: #ff7777;
}

/* The classes for the Inspection Panel */
.carcards {
  font-size: 2em;
}

.scalecontainer {
  position: relative;
  max-height: 70vh;
  overflow: hidden;
}
/*
div.scalewindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

div.scalewindow svg {
  width: 100%;
  height: auto;
  min-height: 90vh;
  z-index: 2;
}

div.scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
*/
svg.scale {
  width: 100%;
  height: auto;
}
